<div class="accordion-heading-button btn-group controls input-append">
    <input class="input-mini" type="text" id="mutedgcode_command" value="">
    <span class="btn btn-primary add-on" data-bind="click: addCommand"><i class="fas fa-plus"></i></span>
</div>
